@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-image: url('../images/background.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
}

body.dark-mode {
    background: linear-gradient(to right top, #0f0f0f, #141414, #181818, #1b1b1b, #1f1f1f);
}

body.light-mode {
    background: linear-gradient(to right top, #f2f2f2, #c6c6c6, #9d9d9d, #757575, #4f4f4f);
}

h1,
button,
input {
    font-family: "Bricolage Grotesque";
}

#to_do {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: rgb(24, 24, 27);
    border: 2px solid rgba(255, 255, 255, .15);
    padding: 48px;
    border-radius: 8px;
    width: 40%;
}

#to_do h1 {
    color: #e5f9ff;
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-align: center;
}

.to-do-form {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    /* width: 100%; */
}

.to-do-form input {
    background-color: transparent;
    border: none;
    color: #e5f9ff;
    font-size: 1.35rem;
    /* width: 100%; */
    flex: 1;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, .15);
    border-radius: 4px;
    /* border-bottom: 2px solid #ee9ca7; */
    transition: .55s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.to-do-form input:where(:hover, :focus) {
    border: 2px solid rgba(255, 255, 255, .55);
}

.to-do-form input:focus-visible {
    outline: none;
}

.to-do-form .form-button {
    border: none;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 4px;
    gap: 8px;
    width: max-content;
    font-weight: 500;
    /* min-width: 40px; */
    /* min-height: 40px; */
    /* background-color: #ee9ca7; */
    /* border-radius: 100%; */
    font-size: 1.55rem;
    transition: 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 0 2px transparent;
}

.mode-switch {
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: rgba(255, 255, 255, .55);
    padding: 12px;
    border-radius: 32px;
    position: fixed;
    gap: 12px;
    width: 120px;
    height: 60px;
    cursor: pointer;
}

.mode-switch.dark-mode{
    background-color: rgba(255, 255, 255, .55);
}
.mode-switch.light-mode{
    background-color: rgb(42, 42, 42);
}


.mode-switch .mode-selected {
    height: 70%;
    width: 35%;
    left: 12px;
    /* left: calc(100% - 40px); */
    top: 50%;
    position: absolute;
    transform: translateY(-52%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 27);
    transition: .65s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mode-selected.dark-mode{
    left: 12px;
    background: rgb(24, 24, 27);
}
.mode-selected.light-mode{
    left: calc(100% - 56px);
    background: rgba(255, 255, 255, .55);
}

.icon-left-up {
    position: absolute;
    left: 10%;
    width: 128px;
    top: 20%;
    rotate: -15deg;
}

.icon-right-up {
    position: absolute;
    right: 10%;
    width: 128px;
    top: 10%;
    rotate: 15deg;

}

.icon-left-down {
    position: absolute;
    left: 15%;
    width: 128px;
    bottom: 15%;
    rotate: 15deg;

}

.icon-right-down {
    position: absolute;
    right: 10%;
    width: 128px;
    bottom: 10%;
    rotate: -15deg;

}

.form-button::before {
    content: '';
    display: block;
    width: 130%;
    height: 130%;
    background-color: #000;
    position: absolute;
    left: -200%;
    z-index: -1;
    /* transform: translateX(-50%); */
    transition: .55s ease;
    /* border-radius: 100%; */
}

.form-button:hover {
    color: #fff;
    box-shadow: inset 0 0 0 2px #000;

}

.form-button:hover::before {
    left: 0;
}


.to-do-form .form-button i {
    font-size: 1.25rem;
}


/* .to-do-form .form-button:hover {
    cursor: pointer;
    scale: 1.05;
} */

#tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #262626;
    background-color: #191933;
    padding: 8px 12px;
    border-radius: 4px;
}

.task .progress {
    margin-right: 10px;
}

.task .progress.done+.task-description {
    text-decoration: line-through;
    color: #e5f9ffa7;
}

.task .task-description {
    font-size: 16px;
    color: #fff;
    padding: 4px 0px;
    width: 100%;
}

.task .task-actions {
    display: flex;
    gap: 10px;
}

.action-button {
    font-size: 16px;
}

.action-button.edit-button {
    color: #6c9bbc;
}

.action-button.delete-button {
    color: #ee9ca7;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 768px) {
    #to_do {
        width: 300px;
    }
}